@import url('https://fonts.cdnfonts.com/css/futura-pt');

:root {
    --backgroundColor: #f3f3f3;
    --fontFamily: 'Futura PT', sans-serif;
}

body {
    background-color: var(--backgroundColor);
    font-family: var(--fontFamily);
    overflow: scroll;
}

* {
    margin: 0px;
    padding: 0px;
    font-weight: 450;
}

.container {
    background-color: white;
    margin: auto;
    max-width: 1585px;
    position: relative;
}

nav {
    padding: 5px 40px;
    border-bottom: 2px solid var(--backgroundColor);
}

.topNavbar,
.bottomNavbar>section:first-child>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSideNavbar,
.rightSideNavbar {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
}

.logoImage {
    width: 60px;
}

.fields{
    display: flex;
    gap: 40px;
}

li {
    list-style-type: none;
    cursor: pointer;
}

.rightSideNavbar p {
    cursor: pointer;
}

.sectionsContainer {
    padding: 0px 0px 135px;
}

.bottomNavbar {
    padding: 38px 0px 45px;
    display: none;
}

.bottomNavbar>section:first-child {
    margin-bottom: 40px;
}

.bottomSection {
    display: flex;
    gap: 20px;
}

.bottomSection>div {
    width: 25%;
}

.bottomSection ul>li:first-child {
    font-weight: 450;
}

:is(.bottomNavbar) li {
    font-size: clamp(18px, 1.5vw,20px);
    font-weight: 400;
    line-height: 30px;
}

:is(.bottomNavbar) h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

header {
    margin: auto;
    width: 80%;
    height: calc(100vh - 120px);
    background: url("./public/HeaderPicture.jpg") rgba(8, 8, 8, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>h1 {
    font-size: clamp(80px, 15vw, 138px);
    color: #FD5948;
}

.textSection {
    margin: 140px 0px;
    width: 100%;
}

.textSection>section {
    width: 50%;
    margin: auto;
}

.textSection>section>h2 {
    font-size: clamp(20px, 2.5vw, 30px);
}

.textSection>section>p {
    font-size: 20px;
    font-weight: 400;
    color: rgba(1, 1, 1, 0.8);
    margin-top: 25px;
}

.textSection>div {
    margin: 135px 0px;
    position: relative;
    width: 100%;
}

.videoContainer {
    margin: auto;
    max-width: 800px;
}

.imageVideoBg {
    width: 100%;
    max-height: 430px;
    object-fit: cover;
}

.textSection>div>img {
    width: 84%;
    margin: auto;
    display: block;
    max-height: 750px;
    object-fit: cover;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: #0000ff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pictureSection {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pictureContainer,
.pictureGrid {
    padding: 130px 0px;
    margin: auto;
    width: 83%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.pictureOne,
.pictureSeven {
    width: 50.5%;
    max-height: 670px;
    object-fit: cover;
}

.pictureTwo,
.pictureSix {
    width: 40%;
    max-height: 400px;
    object-fit: cover;
}

.pictureSectionBg {
    position: absolute;
    background-color: #fbffa7;
    width: 57.9%;
    height: 100%;
    right: 0;
}

.boxContainer {
    display: flex;
    width: 85%;
    margin: auto;
    max-height: 670px;
    background-color: #b1c5ff;
}

.boxContainer>div {
    width: 50%;
}

.boxImageContainer>img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.boxTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    min-height: 300px;
}

.boxTextContainer>h2 {
    width: 80%;
    font-size: clamp(20px, 2vw, 30px);
}

footer {
    border-top: 2px solid var(--backgroundColor);
    padding: 135px;
    display: grid;
    gap: 50px;
}

footer li {
    font-size: clamp(16px, 2vw,20px);
    font-weight: 400;
    color: rgba(1, 1, 1, 0.9);
    line-height: 2rem;
}

.footerHeader {
    font-size: 60px;
}

.iconSection {
    margin-top: 10px;
}

.iconSection img {
    padding: 5px;
    margin-right: 5px;
}

footer>section {
    display: flex;
    gap: 50px;
}

footer>section>section {
    width: 26.5%;
}

footer>section:last-child {
    align-items: center;
    justify-content: space-between;
}

.footerLowerSection {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
}

.footerLowerSection li {
    font-size: 14px;
    font-weight: 450;
}

.dropDown {
    width: 40%;
    padding: 5px;
    background-color: var(--backgroundColor);
    border: 0px;
    font-size: 14px;
    font-weight: 450;
    font-family: var(--fontFamily);
}

.dropDown:last-child {
    width: 60%;
}

.form {
    width: 40%;
}

.formText {
    border: 0px;
    background-color: var(--backgroundColor);
    padding: 7px 0px;
    font-size: 20px;
    font-family: var(--fontFamily);
    font-weight: 400;
    text-indent: 15px;
    width: 80%;
}

.formButton {
    border-radius: 0px;
    border: 0px;
    background-color: #0000ff;
    color: white;
    font-family: var(--fontFamily);
    font-weight: 450;
    font-size: 20px;
    width: 20%;
}

.center {
    background-color: #d5b3ff;
    left: 50%;
    transform: translate(-50%);
    width: 68%;
}

.pictureSix {
    width: 37%;
    max-height: 400px;
    object-fit: cover;
}

.pictureSeven {
    width: 46%;
    max-height: 670px;
    object-fit: cover;
}

.pictureGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.pictureThree,
.pictureFive {
    width: 80%;
    max-height: 400px;
    object-fit: cover;
    align-self: start;
    justify-self: start;
}

.pictureFive {
    align-self: end;
}

.pictureFour {
    grid-column: 2;
    grid-row: 1/3;
    width: 100%;
    max-height: 670px;
    padding: 130px 0px;
    object-fit: cover;
}

.stickyHeader {
    position: sticky;
    padding: 25px 0px;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.9);
    overflow: hidden;
    transition: 0.3s linear;
    top: 0;
    z-index: 1;
}

.stickyHeader>ul {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-left: 40px;
}

.menu-button{
    display: none;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.first-section{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: 20px;
}

.second-field{
    display: none;
}


@media only screen and (max-width:1439px) {
    .sectionsContainer {
        background-color: lightcoral;
    }

    .fields > li, .rightSideNavbar{
        font-size: 17px;
    }

    footer{
        padding: 50px;
    }
}

@media only screen and (max-width: 1024px) {
    .sectionsContainer {
        background-color: lightgray;
    }

    .fields, .rightSideNavbar{
        display: none;
    }
    
    .second-field{
        display: flex;
        gap: 0px;
        margin-bottom: 20px;
    }

    .second-field > li{
        width: 100%;
        text-align: left;
    }

    .menu-button{
        display: flex;
    }

    .textSection {
        margin-top: 100px;
    }

    .textSection>section {
        width: 70%;
        margin: auto;
    }

    .boxContainer {
        width: 85%;
        flex-direction: column;
        max-height: max-content;
    }

    .boxContainer>div {
        width: 100%;
    }

    .boxImageContainer>img {
        max-height: 500px;
    }

    footer>section{
        flex-direction: column;
    }

    footer>section>section, .form{
        width: 100%;
    }
    
    .first-section > li{
        line-height: 30px;
    }
}

@media only screen and (max-width:767px) {
    .sectionsContainer {
        background-color: #b1c5ff;
    }

  
    .footerLowerSection{
        flex-direction: column;
        gap: 0px;
    }

    .first-section{
       flex-direction: column;
        gap: 10px;
    }

    .first-section > li{
        width: 100%;
    }

    .bottomSection{
        flex-direction: column;
    }

    .bottomSection > div{
        width: 100%;
    }
}